.intro_bg_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    width: 100vw;
    max-width: 4500px;
}

.intro_bg_wrapper img {
    width: 100%;
    min-width: 500px;
}

@media screen and (min-height: 1440px) {
    .bg1 {
        max-height: 100vh;
    }
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 132px;
}

.intro__title {
    margin-bottom: 24px;
    text-align: center;
}

.intro__text_row {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    justify-content: center;
}

.intro__subtext {
    margin-bottom: 32px;
    max-width: 1040px;
    text-align: center;
}

.grid__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
    gap: 20px;
}

.grid__content_item {
    border-radius: 8px;
    background: var(--surface-30, rgba(30, 31, 32, 0.30));
    backdrop-filter: blur(1.5px);
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid__content_item:nth-child(1) {
    grid-row: 1/3
}

.grid__content_item:nth-child(2) {
    padding: 0;
    grid-column: 2/4;
    grid-row: 1/3
}

.grid__image {
    object-fit: contain;
}

.grid__content_item_img {
    width: 80px;
    height: 80px;
}

.grid__content_item:last-child {
    grid-column: 1/4;
    flex-direction: row;
    gap: 64px;
    align-items: center;
}

.grid__content_btn {
    flex-shrink: 0;
}

.grid__coontent_text_title {
    margin-bottom: 16px;
    color: var(--black-100)
}

.vs__title_block {
    display: flex;
    /* gap: 40px; */
    margin-bottom: 64px;
    justify-content: space-between;
}

.vs__title_item {
    width: calc(50% - 20px);
}

.vs__table {
    border-radius: 8px;
    background: var(--surface-30, rgba(30, 31, 32, 0.30));
    backdrop-filter: blur(1.5px);
}

.vs_table_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--black-800, #242424);
    padding: 32px 40px;
}

.vs_table_row:last-child {
    border-bottom: none;
}

.vs_table_cell {
    width: calc(45% - 80px - 19px);
}

.vs_table_cell:last-of-type {
    width: calc(55% - 80px - 15px);
}

.vs_table_cell:last-of-type span {
    color: var(--accent-color)
}

@media screen and (max-width: 1200px) {
    .grid__content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .grid__content_item:nth-child(1) {
        grid-row: auto;
    }

    .grid__content_item:nth-child(2) {
        grid-column: 1/3;
    }

    .grid__content_item:nth-child(1),
    .grid__content_item:nth-child(3),
    .grid__content_item:nth-child(4),
    .grid__content_item:nth-child(5) {
        height: 312px;
    }

    .grid__content_item:last-child {
        grid-column: 1/3;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .vs__table {
        border-radius: 0;
        background: none;
        backdrop-filter: none;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .vs_table_row {
        border-radius: 8px;
        background: var(--surface-30, rgba(30, 31, 32, 0.30));
        -webkit-backdrop-filter: blur(1.5px);
        backdrop-filter: blur(1.5px);
        border-bottom: none;
        flex-direction: column;
        gap: 40px;
    }

    .vs_table_cell,
    .vs_table_cell:last-child {
        width: 100%;
        max-width: none;
    }

    .vs_table_div {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .vs_table_div::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #242424;
        top: 50%;
        z-index: -1;
    }
}

@media screen and (max-width: 768px) {
    .grid__content {
        grid-template-columns: 1fr;
    }

    .grid__content_item:nth-child(n) {
        grid-row: auto;
        grid-column: auto;
        height: 240px;
    }

    .grid__content_item:nth-child(2) {
        grid-row: 1/2;
    }

    .grid__content_item:nth-child(2),
    .grid__content_item:last-child {
        height: auto;
    }

    .vs__table {
        gap: 20px;
    }

    .vs_table_row {
        gap: 24px;
        padding: 40px 20px;
    }
}