.btn {
    display: flex;
    height: 56px;
    min-width: 140px;
    padding: 0 32px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 4px;
    background: var(--accent-color);

    color: var(--black-100);
    font-family: Saira;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .btn {
        height: 44px;
        padding: 0 24px;
        font-size: 13px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0.65px;
    }

}
