.text {
    font-family: 'Saira', sans-serif;
    font-style: normal;
    color: #E6E6E6;
}

.title_page {
    font-size: 80px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -2.8px;
}

.title_block {
    font-size: 80px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -2.1px;
}

.title_text {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.36px;
    width: calc(80%);
    color: var(--accent-color);
}

.medium {
    font-size: 27px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.27px;
}

.regular {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.1px;
}

.regular_dark {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.1px;
    color: var(--black-300);
}

.accent {
    color: var(--accent-color);
}

@media screen and (max-width: 768px) {
    .title_page {
        font-size: 44px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.66px;
    }

    .title_block {
        font-size: 36px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.54px;
    }

    .title_text {
        font-size: 24px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -0.24px;
    }

    .medium {
        font-size: 20px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.1px;
    }

    .regular {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.08px;
    }

    .regular_dark {
        font-size: 16px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.08px;
    }
}
