.footer {
    height: 88px;
    background: var(--surface-30);
    backdrop-filter: blur(15px);
    margin-top: 260px;
    position: relative;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.part {
    display: flex;
    align-items: center;
    gap: 48px;
}

.links_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 28px;
}

.social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 2px);
    z-index: -1;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .footer {
        margin-top: 120px;
        height: 76px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 80px;
        height: 46px;
    }

    .social_link img {
        width: 20px;
        height: 20px;
    }

    .links_list {
        gap: 24px;
    }
}